body {
  background-color: #EAF6F6;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-top-width: thick;
  border-color: grey;
  height: 0;
  width: 10%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
